annotated-types==0.7.0
anyio==4.9.0
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs==25.3.0
bigtree==0.29.2
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1742502750715/work
certifi==2025.7.14
charset-normalizer==3.4.2
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
cloudpickle==3.1.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
dask==2025.7.0
dill==0.3.9
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
Faker @ file:///home/conda/feedstock_root/build_artifacts/faker_1752672554050/work
fastapi==0.116.1
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1747591481791/work
feast==0.44.0
fsspec==2025.7.0
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
httptools==0.6.4
idna==3.10
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kafka-python @ file:///home/conda/feedstock_root/build_artifacts/kafka-python_1751459906350/work
locket==1.0.0
MarkupSafe==3.0.2
mmh3==5.2.0
mypy==1.17.1
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
numpy==1.26.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1752081720033/work
partd==1.4.2
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
prometheus_client==0.22.1
protobuf==6.31.1
psutil==7.0.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
pyarrow==18.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyJWT==2.10.1
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1750239416491/work
pytest-mock @ file:///home/conda/feedstock_root/build_artifacts/pytest-mock_1748282144188/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.1.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML==6.0.2
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1748446509661/work
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
ruff @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruff_1753906136/work
setuptools==80.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio==1.3.1
SQLAlchemy==2.0.42
starlette==0.47.2
tabulate==0.9.0
tenacity==8.5.0
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
toolz==1.0.0
tqdm==4.67.1
typeguard==4.4.4
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3==2.5.0
uvicorn==0.35.0
uvicorn-worker==0.3.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.45.1
